.hero {
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(135, 37, 227, 0.786),
      rgba(96, 6, 179, 0.517)
    ),
    url("../public/images/4734691_2202758.jpg");
  background-size: cover;
  /*   background-repeat: repeat-y;
  background-position-x: right; */
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}

.textContain {
  color: white;
  line-height: 60px;
  margin-left: 100px;
  /*   margin: auto 120px; */
}

.textContain h3 {
  font-weight: bolder;
  font-size: 90px;
}

.textContain p {
  font-size: 400;
  font-size: 20px;
}

.btnContain {
  /* margin: 10px auto; */
}

.btnContain button {
  background-color: rgb(255, 152, 56);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Raleway;
  padding: 12px 10px;
  width: 50%;
}
