.group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.group label {
  font-weight: 600;
  margin-bottom: 4px;
}

.group input {
  background-color: ghostwhite;
  border-radius: 40px;
  font-family: Montserrat;
  font-weight: 500;
  color: #333;
  padding: 10px 20px;
  width: 100%;
}
