.group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.group label {
  color: rgb(32, 1, 60);
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 4px;
}

.group input {
  background-color: white;
  border-radius: 40px;
  font-family: Poppins;
  font-weight: 500;
  color: #333;
  padding: 10px 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .group input {
    background-color: ghostwhite;
  }
}
