.para {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 90%;
}

@media screen and (max-width: 700px) {
  .para {
    font-size: 0.9rem;
    text-align: center;
    top: 92%;
  }
}
