.main {
  align-items: center;
  display: flex;
  font-family: Montserrat;
  justify-content: center;
  /* height: 70vh; */
  padding: 4rem;
}

.main .content {
  align-items: center;
  background-color: white;
  box-shadow: 0px 64px 53px -44px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  display: flex;
  /* height: 100%; */
  width: 800px;
}

.main .img_contain {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40%;
}

.main .img_contain .illustration {
  height: 300px;
  width: 300px;
}

.main .content .otherContent {
  background: blueviolet;
  padding: 30px;
  width: 60%;
}

.textContain {
  margin: 10px 0;
  padding: 8px auto;
}

.textContain h1 {
  color: white;
  font-family: Poppins;
  font-size: 3rem;
  line-height: 40px;
}

.textContain p {
  font-family: Poppins;
  font-weight: bold;
  font-size: 0.9rem;
}

.textContain p span {
  color: rgb(245, 236, 253);
  font-weight: 700;
}

.textContain .price {
  background-color: rgb(32, 1, 60);
  border-radius: 7px;
  color: white !important;
  font-family: Poppins;
  padding: 4px 10px;
  text-align: center;
  width: 170px;
}

.textContain hr {
  border: 3px solid white;
  margin: 10px 0;
  width: 44%;
}

.formContain .gender {
  display: flex;
}

.formContain .gender span {
  font-family: Poppins;
  font-weight: 600;
}

.formContain .gender .option {
  font-family: Poppins;
  margin: 0px 10px;
}

.formContain button {
  background: rgb(32, 1, 60);
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin: 12px auto;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 70%;
}

/* Payment Page*/
.paymentPageContent {
  align-items: center;
  background: linear-gradient(to left, blueviolet 30px, rgb(148, 58, 232) 70px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment {
  background-color: white;
  box-shadow: 0px 64px 53px -44px rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}

.payment h2 {
  font-family: Alfa Slab One;
  font-weight: 400;
  margin: 4px 0;
  text-align: center;
}

.payBtn {
  color: white;
  cursor: pointer;
  background: linear-gradient(
    to right,
    blueviolet 30px,
    rgb(148, 58, 232) 70px
  );
  border-radius: 40px;
  font-family: Montserrat;
  font-weight: 600;
  margin: auto auto;
  padding: 10px 8px;
  width: 80%;
}

/* Success page*/
.successContent {
  align-items: center;
  background-color: white;
  box-shadow: 0px 64px 53px -44px rgba(0, 0, 0, 0.37);
  border-top: 4px solid blueviolet;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.successTextContain {
  text-align: center;
}

.successTextContain h2 {
  background: linear-gradient(to right, blueviolet, rgb(191, 58, 232));
  font-family: Alfa Slab One;
  font-size: 2rem;
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.successTextContain p {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
    padding: 4rem;
  }

  .main .img_contain {
    display: none;
  }

  .main .content {
    border-top: 4px solid rgb(32, 1, 60);
    flex-direction: column;
    height: 100%;
    width: 80%;
  }

  .main .otherContent {
    background: transparent !important;
    width: 100% !important;
  }

  .textContain {
    background-color: rgb(32, 1, 60);
    color: white !important;
    padding: 4px;
    text-align: center;
    width: 100%;
  }

  .textContain h1 {
    font-size: 37px;
  }

  .textContain hr {
    border: 1px solid;
    margin: 8px auto;
    width: 70%;
  }

  .textContain .price {
    width: 100%;
  }

  .formContain {
    width: 100%;
  }

  .formContain button {
    width: 100%;
  }

  /* Payment Page*/
  .payment {
    background-color: white;
    box-shadow: 0px 64px 53px -44px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
  }

  .payment h2 {
    margin: 4px 0;
    text-align: center;
  }

  .payBtn {
    color: white;
    cursor: pointer;
    background: linear-gradient(
      to left,
      blueviolet 30px,
      rgb(148, 58, 232) 70px
    );
    border-radius: 40px;
    font-family: Montserrat;
    font-weight: 600;
    margin: auto auto;
    padding: 10px 8px;
    width: 80%;
  }

  /* Success page*/
  .successContent {
    padding: 30px;
  }

  .successTextContain h2 {
    font-size: 1.8rem;
  }

  .successTextContain p {
    color: #333;
    font-size: 0.9rem;
  }
}
